version: '3'

services:
  tgbot:
    build: .
    container_name: mcrc_tgbot
    volumes:
      - ./config.yaml:/app/config.yaml:ro
      - ./data/:/app/data/:rw
    environment:
      TOKEN: "<REPLACE AS YOUR OWN TOKEN>"
      DB_SETTING: "host=db port=5432 user=test dbname=testdb password=test123 sslmode=disable"
      # Support sqlite3 and psql so far
      DB_DRIVER: "postgres"
    depends_on:
      - db

  db:
    image: postgres:alpine
    container_name: db
    restart: always
    volumes:
      - ./data/pgsql.conf:/etc/postgresql/postgresql.conf:ro
      - ./data/pgsql:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: test123
      POSTGRES_USER: test
      POSTGRES_DB: testdb